@import url('https://fonts.googleapis.com/css?family=Audiowide&effect=shadow-multiple');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Bangers", "Comic Book", cursive, sans-serif;
  text-align: center;
  background: #000;
  padding: 20px;
  background-image: url('./assets/image.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1{
  font-family: "Audiowide", sans-serif;
  color: #1100ff;
  margin-bottom: 30px;
  text-shadow: 6px 6px 6px #ddd12b;
  font-size: 5rem;
  font-weight: 900;
}

.search-box{
  margin-bottom: 25px;
}

.search-box input{
  padding: 10px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ceb131;
  background: #000000a6;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 8px #ebd71e;
  outline: none;
}

.search-box button{
  padding: 10px 15px;
  margin-left: 5px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #0026ff;
  box-shadow: 0 2px 8px #221400;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.search-box button:hover{
  background-color: #1707ff;
  box-shadow: 0 2px 8px #7079ff;
}

.cards-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.card{
  background-color: #000;
  border-radius: 16px;
  padding: 12px;
  width: 490px;
  text-align: left;
  color: #ffffff;
  border: 2px solid #ffee00;
  box-shadow:
    rgba(255, 238, 0, 0.4) -5px 5px,
    rgba(255, 230, 0, 0.3) -10px 10px,
    rgba(255, 208, 0, 0.2) -15px 15px,
    rgba(255, 208, 0, 0.1) -20px 20px,
    rgba(255, 217, 0, 0.05) -25px 25px
  ;
}


.card img{
  width: 460px;
  height: 530px;
  align-items: center;
}

.card:hover img{
  border-radius: 12px;
  border-color: #ff3b3b;
}

.card h2{
  font-family: "Audiowide", sans-serif;
  text-align: center;
  margin: 10px 0 5px;
  font-size: 30px;
  color: #ff3b3b;
  letter-spacing: 3px;
  text-shadow: 0 2px 6px #ff0000;
}

.card h3{
  font-family: "Audiowide", sans-serif;
  text-shadow: 0 4px 6px #1428dd;
  margin: 10px 0 5px;
  font-size: 19px;
  color: #3e3bff;
  letter-spacing: 3px;
}

.card p{
  font-size: 18px;
  color: #ffffff;;
}

.card strong{
  color: #3b4fff;
  font-weight: bold;
  text-shadow: 0 2px 4px #1428dd;
}

.loading{
  font-family: "Comix Sans", fantasy;;
  color: #ff0000;
  font-size: 30px;
}
